html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.menu {
    position: absolute;
    padding: 10px 0 10px 0;
    left: 50%;
    top: -50%;
    height: 300px;
    width: 300px;
    margin: -150px 0 0 -150px;
    background-color: rgba(255, 255, 255, 0.35);
    display: block;
}

.menu:hover {
    text-decoration: none;
    webkit-box-shadow: 0px 0px 5px 0px rgba(88, 88, 88, 0.35);
    -moz-box-shadow: 0px 0px 5px 0px rgba(88, 88, 88, 0.35);
    box-shadow: 0px 0px 5px 0px rgba(88, 88, 88, 0.35);
}

.menu h3 {
    text-align: center;
    text-decoration: none;
    line-height: 218px;
}

.bg-Skill .menu h3 {
    color: #3c1432;
}

.bg-Skill .menu h3:hover {
    color: #160110;
}

.bg-Projects .menu h3 {
    color: #925552;
}

.bg-Projects .menu h3:hover {
    color: #6b3937;
}

.bg-General .menu h3 {
    color: #763c48;
}

.bg-General .menu h3:hover {
    color: #4e2830;
}

.load-container {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    z-index: 500;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.load-container .load {
    position: fixed;
    background: #ffb290;
    border-radius: 7px;
    border: 1px solid #000;
    width: 150px;
    height: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    left: 50%;
    top: 50%;
    margin: -35px 0 0 -75px;
    padding: 15px 10px;
}

.load-container .load h5 {
    display: inline-block;
    margin-left: 5px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}

.bg-General {
    background-color: #d3dfd1;
    background-image: url('/app/img/home.jpg');
    background-position: right bottom;
    background-repeat: no-repeat;
}

.bg-Skill {
    background-color: #dfc8b8;
    background-image: url('/app/img/code.png');
    background-position: right bottom;
    background-repeat: no-repeat;
}

.bg-Projects {
    background-color: #f3dfde;
    background-image: url('/app/img/projects.jpg');
    background-position: right bottom;
    background-repeat: no-repeat;
}

#site {
    height: 100%;
    width: 100%;
}

.header {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #763c48;
}

.bg-General .header {
    color: #763c48;
}

.bg-Projects .header {
    color: #925552;
}

.bg-Skill .header {
    color: #3c1432;
}

.modal-content {
    border-radius: 0;
}

.modal-header h3 {
    color: #763c48;
}

.btn-primary {
    background-color: #763c48;
    border-color: #4e2830;
}

.btn-primary:hover {
    background-color: #4e2830;
    border-color: #4e2830;
}