<div class="row">

    <a ng-href="#/menu/skill/js" class="menu js">
        <h3>Javascript</h3>
    </a>

    <a ng-href="#/menu/skill/other" class="menu skill-other">
        <h3>Other...</h3>
    </a>

    <a ng-href="#/menu/skill/css" class="menu css">
        <h3>html/css</h3>
    </a>

    <a ng-href="#/menu/about" class="menu about">
        <h3>About me</h3>
    </a>

    <a ng-href="#/menu/projects" class="menu projects">
        <h3>Projects</h3>
    </a>

    <a ng-href="#/menu/page-layout" class="menu page-layout">
        <h3>Page layout</h3>
    </a>

    <a ng-href="#/menu/js-development" class="menu js-development">
        <h3>Javascript development</h3>
    </a>

    <a ng-href="#/menu/skill" class="menu skill">
        <h3>Skills</h3>
    </a>

    <a ng-href="#/menu" class="menu general">
        <h3>Menu</h3>
    </a>

</div>