<div class="modal-header">
    <h3>Обо мне</h3>
</div>
<div class="modal-body quick-menu-settings">
    Находится на стадии разработки
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Закрыть</button>
</div>