<div class="modal-header">
    <h3>Javascript разработка</h3>
</div>
<div class="modal-body quick-menu-settings">

    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" height="110" width="110" src="" alt="..">
        </a>

        <div class="media-body">
            <h4 class="media-heading">Shelf</h4>
            Сайт посвещённый грузоперевозкам.
        </div>
    </div>

    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" height="110" width="110" src="" alt="..">
        </a>

        <div class="media-body">
            <h4 class="media-heading">Canvas</h4>
            Проект икеи "Инстинкт".
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Закрыть</button>
</div>