<div class="modal-header">
    <h3>Верстка</h3>
</div>
<div class="modal-body quick-menu-settings">
    <h4>Представленные здесь образцы были созданы мной в самом начале моего пути.</h4>

    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" height="110" width="110" src="" alt="..">
        </a>

        <div class="media-body">
            <h4 class="media-heading">РАТ</h4>
            Сайт посвещённый грузоперевозкам.
        </div>
    </div>

    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" height="110" width="110" src="" alt="..">
        </a>

        <div class="media-body">
            <h4 class="media-heading">Икея</h4>
            Проект икеи "Инстинкт".
        </div>
    </div>

    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" height="110" width="110" src="" alt="..">
        </a>

        <div class="media-body">
            <h4 class="media-heading">avionix</h4>

        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Закрыть</button>
</div>