<div class="modal-header">
    <h3>Навыки верстки</h3>
</div>
<div class="modal-body quick-menu-settings">
    <ul>
        <li>кроссбраузерная</li>
        <li>блочная</li>
        <li>семантически-правильная</li>
        <li>спрайты, base64, умение работать с Photoshop</li>
        <li>знание стандартов CSS2, CSS3, XHTML, HTML4, HTML5</li>
        <li>опыт работы с Bootstrap, less, styles</li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Закрыть</button>
</div>