<div class="modal-header">
    <h3>Прочее</h3>
</div>
<div class="modal-body quick-menu-settings">
    <ul>
        <li>понимание общих принципов оптимизации производительности frontendа</li>
        <li>понимание работы HTTP протокола</li>
        <li>AJAX, JSON, XML</li>
        <li>Базовые знания SQL, MySQL</li>
        <li>опыт разработки с использованием SCM (SVN, git, mercurial)</li>
        <li>опыт работы с баг-трекерами (Redmine, JIRA)</li>
        <li>автоматические тесты с использованием Selenium</li>
        <li>понимания принципов юзабилити</li>
        <li>опыт работы на Linux, владение консолью, SSH</li>
        <li>базовые знания PHP, знакомство с фреймворком Symfony</li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Закрыть</button>
</div>